@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: cyan;
    display: grid;
    place-content: center;
}

section {
    display: block;
    width: 1500px;
    height: 1112px;
    padding: 30px 30px 0 30px;
    background-image: url('https://my-dream-house-fatec.herokuapp.com/assets/places/main/door.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#divPresentation {
    margin: 0 auto;
    display: grid;
    background-color: #182625;
    width: 705px;
    height: 144px;
    border-radius: 40px;
    place-items: center;
}

#divPresentation h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#divSearch {
    background-color: #182625;
    border-radius: 50%;
    bottom: 0px;
    margin-left: 20px;
    height: 100px;
    width: 100px;
    text-align: -webkit-center;
}

#divSearch img {
    color: white;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#divMap {
    background-color: #182625;
    border-radius: 50%;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    text-align: -webkit-center;
}

#divMap img {
    color: white;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

